<div class="container" *ngIf="!error; else errorTemplate">

  <div class="userlist-card">
    <h1 class="userlist-title">👥 Lista de Usuarios</h1>

    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of usuarios">
          <td>{{ u.id }}</td>
          <td>{{ u.nombre }}</td>
          <td>{{ u.email }}</td>

          <td>
            <span class="badge-admin" *ngIf="u.rol === 'ADMIN'">ADMIN</span>
            <span class="badge-user" *ngIf="u.rol === 'USUARIO'">USUARIO</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>

<!-- Template error -->
<ng-template #errorTemplate>
  <div class="container">
    <div class="alert-error">
      {{ error }}
    </div>
  </div>
</ng-template>
