<div class="container profile-wrapper" *ngIf="!error; else errorTemplate">
  
  <div class="profile-card">
    <h1 class="profile-title">👤 Mi Perfil</h1>

    <form (ngSubmit)="guardarCambios()" class="login-form">

      <div class="form-group">
        <label class="form-label">Email</label>
        <input type="text" class="form-input"
               [(ngModel)]="usuario.email" name="email" disabled>
      </div>

      <div class="form-group">
        <label class="form-label">Rol</label>
        <input type="text" class="form-input"
               [(ngModel)]="usuario.rol" name="rol" disabled>
      </div>

      <div class="form-group">
        <label class="form-label">Nombre completo</label>
        <input type="text" class="form-input"
               [(ngModel)]="usuario.nombre" name="nombre" required>
      </div>

      <div class="form-group">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-input"
               [(ngModel)]="usuario.password" name="password" required>
      </div>

      <button class="btn btn-primary">Guardar cambios</button>

      <p class="alert-success" *ngIf="mensaje">{{ mensaje }}</p>
    </form>
  </div>

</div>

<ng-template #errorTemplate>
  <div class="container">
    <div class="alert-error">{{ error }}</div>
  </div>
</ng-template>
