<header class="header d-flex align-items-center fixed-top">
  <div class="container d-flex justify-content-between align-items-center">

    <!-- LOGO IZQUIERDA -->
    <h1 class="logo mb-0">MultiLab</h1>

    <!-- MENÚ CENTRADO -->
     <nav class="navmenu header-center">
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/login">Iniciar sesión</a></li>
        <li><a routerLink="/registro">Registrarme</a></li>
      </ul>
    </nav>

    <!-- SESIÓN DERECHA -->
    <div class="session-status ms-auto">
      <ng-container *ngIf="estaAutenticado; else sinSesion">
              <p>👤 Usuario: <strong>{{ nombreUsuario }}</strong></p>
              <p>🔑 Rol: <span class="badge bg-primary">{{ rolUsuario }}</span></p>

              <button class="btn btn-outline-primary btn-sm" (click)="irALaboratorios()">
                Ir a Gestión de Laboratorios
              </button>
            </ng-container>

            <ng-template #sinSesion>
              <p>No hay sesion iniciada</p>
            </ng-template>
    </div>
  </div>
</header>
<main>
  <section id="hero" class="hero section dark-background">

    <!-- Imagen de fondo -->
    <img src="/imagen/lab.jpg" alt="Laboratorio clínico">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <h2>Gestión Inteligente de Laboratorios</h2>
      <p>Control total de resultados, usuarios, muestras y reportes en un solo sistema.</p>

      <a routerLink="/registro" class="btn-get-started">
        Comienza Ahora
      </a>
    </div>
  </section>
   
 <section id="why-us" class="why-us section">
    <div class="container section-title" data-aos="fade-up">
      <div><span>¿Por qué elegir </span><span class="description-title">MultiLab?</span></div>
    </div>

    <div class="container">
      <div class="row gy-4">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="card-item">
            <span>01</span>
            <h4><a class="stretched-link">Trazabilidad Completa</a></h4>
            <p>Desde la toma de muestra hasta el resultado final. Control absoluto en cada etapa del proceso.</p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="card-item">
            <span>02</span>
            <h4><a class="stretched-link">Acceso Seguro</a></h4>
            <p>Roles para Administradores y Analistas, con permisos personalizados y protección de datos sensibles.</p>
          </div>
        </div>

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card-item">
            <span>03</span>
            <h4><a class="stretched-link">Reportes en Tiempo Real</a></h4>
            <p>Visualiza estadísticas, resultados, productividad y estado de las muestras con gráficos dinámicos.</p>
          </div>
        </div>

      </div>
    </div>
  </section>

<section id="gallery" class="section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Instalaciones</h2>
      <div><span>Nuestras áreas de </span><span class="description-title">Laboratorio</span></div>
    </div>

    <div class="container">
      <div class="row g-4">

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <img src="/imagen/lab1.jpg" class="gallery-img" alt="">
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
          <img src="/imagen/lab2.jpg" class="gallery-img" alt="">
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <img src="/imagen/lab3.jpg" class="gallery-img" alt="">
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="250">
          <img src="/imagen/lab4.jpg" class="gallery-img" alt="">
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <img src="/imagen/lab5.jpg" class="gallery-img" alt="">
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="350">
          <img src="/imagen/lab6.jpg" class="gallery-img" alt="">
        </div>

      </div>
    </div>
  </section>

</main>
