<div class="container login-container">
  <div class="hero-inner">
    <h1 class="form-title">🔑 Recuperar contraseña</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label class="form-label">Correo electrónico registrado</label>
        <input type="email" class="form-input" formControlName="email" />
      </div>

      <div class="alert-error" *ngIf="mensajeError">
        {{ mensajeError }}
      </div>

      <div class="alert-info" *ngIf="mensajeOk">
        {{ mensajeOk }}
      </div>

      <button class="btn btn-primary" type="submit">
        Recuperar
      </button>
    </form>
  </div>
</div>


